In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cape Town,-33.9258,18.4232,61.38,86,45,1.99,ZA,2022-05-23 01:12:02
1,1,Mahebourg,-20.4081,57.7000,73.69,78,40,6.91,MU,2022-05-23 01:12:43
2,2,Hermanus,-34.4187,19.2345,58.80,82,29,7.45,ZA,2022-05-23 01:12:44
3,3,Awjilah,29.1081,21.2869,68.13,32,0,5.53,LY,2022-05-23 01:12:44
4,4,Manadhoo,5.7667,73.3833,83.21,77,94,14.97,MV,2022-05-23 01:12:44

In [12]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
#Create a Maximum Temperature Heatmap

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
#Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Create a Wind Speed Heatmap

# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Manadhoo,5.7667,73.3833,83.21,77,94,14.97,MV,2022-05-23 01:12:44
10,10,Arlit,18.7369,7.3853,85.28,26,100,8.93,NE,2022-05-23 01:12:47
11,11,Vaini,-21.2000,-175.2000,84.36,79,40,6.91,TO,2022-05-23 01:12:47
13,13,Rikitea,-23.1203,-134.9692,75.97,76,44,16.46,PF,2022-05-23 01:12:48
21,21,Alofi,-19.0595,-169.9187,79.93,72,5,10.65,NU,2022-05-23 01:11:03
23,23,Changzhou,31.7833,119.9667,77.74,50,5,10.67,CN,2022-05-23 01:12:53
24,24,Hilo,19.7297,-155.0900,84.27,64,100,12.66,US,2022-05-23 01:10:15
26,26,Butaritari,3.0707,172.7902,82.20,78,34,14.41,KI,2022-05-23 01:12:54
30,30,Sinnamary,5.3833,-52.9500,76.78,88,100,5.03,GF,2022-05-23 01:12:56
31,31,Vung Tau,10.3460,107.0843,81.37,80,100,14.70,VN,2022-05-23 01:12:57

In [29]:
preferred_cities_df.count()

City_ID       172
City          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
Country       172
Date          172
dtype: int64

In [30]:
#Get Travel Destinations

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4     Manadhoo      MV     83.21   5.7667   73.3833
10       Arlit      NE     85.28  18.7369    7.3853
11       Vaini      TO     84.36 -21.2000 -175.2000
13     Rikitea      PF     75.97 -23.1203 -134.9692
21       Alofi      NU     79.93 -19.0595 -169.9187
23   Changzhou      CN     77.74  31.7833  119.9667
24        Hilo      US     84.27  19.7297 -155.0900
26  Butaritari      KI     82.20   3.0707  172.7902
30   Sinnamary      GF     76.78   5.3833  -52.9500
31    Vung Tau      VN     81.37  10.3460  107.0843

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Manadhoo,MV,83.21,5.7667,73.3833,Bon Abri maldives
10,Arlit,NE,85.28,18.7369,7.3853,Case de Passage De la Prefecture
11,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
13,Rikitea,PF,75.97,-23.1203,-134.9692,People ThankYou
21,Alofi,NU,79.93,-19.0595,-169.9187,Taloa Heights
23,Changzhou,CN,77.74,31.7833,119.9667,Gongyuan Hotel
24,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Butaritari,KI,82.20,3.0707,172.7902,Isles Sunset Lodge
30,Sinnamary,GF,76.78,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
31,Vung Tau,VN,81.37,10.3460,107.0843,Seaside Resort

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))